div>img{
   width: 45px;
   height: 45px;
   border-radius: 26px;
}

.wrapper{
   padding: 30px 0px 40px 20px;
}

.nickname{
   color: rgb(134, 197, 7);
   position: absolute;
   padding-top: 5px;
   padding-left: 20px;
}

.textPost{
   color: white;
   margin: 15px;
}

.btnLike{
   color: white;
   font-weight: bolder;
   font-size: 18px;
}

.imgLike{
   width: 20px;
   height: 16px;
   margin-left: 10px;
   margin-top: 10px;
}